---
whiskers:
    version: "2.0.0"
    filename: "generated-themes/royalts-interface-urls.md"
---
{% for _, flavor in flavors -%}

    {%- set palette = flavor.colors -%}

<details>
    <summary>{{ flavor.emoji}} {{ flavor.name}}</summary>

```
SOME CODE HERE YAY TESTING MEOW MAKER
```
</details>
AHHHHHH
{% endfor %}
